@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Protest+Strike&display=swap');

body {
    font-family: 'Protest Riot', sans-serif !important;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 600px !important;
    margin: 50px auto !important;
    padding: 20px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    box-shadow: 2px 2px 2px 2px #808080 !important;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"],
select {
    width: 100% !important;
    padding: 8px !important;
    margin-bottom: 10px !important;
    border: none !important;
    border-bottom: 2px solid #000000 !important;
    background-color: transparent !important;
    cursor: pointer;
    font-family: 'Protest Riot','Protest Strike', sans-serif !important;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px !important;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 2px 2px 2px 2px #007bff !important;
}

#result {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    font-family: 'Protest Riot','Protest Strike', sans-serif !important;
}